*{
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

#login-form {
    width: 500px;
    border: 2px solid black;
    padding: 70px;
}

#login1-form{
    width: 500px;
    padding: 70px;
}